.removable {
  display: flex;
  align-items: center;
  background-color: rgb(223, 223, 138);
  width: fit-content;
  border-radius: 8px;
  padding: 0 10px;
}

.removable > span{
  padding-left: 10px;
}

.removable > p{
  margin: 4px;
}