.guides {
  width: 60%;
  justify-content: center;
  margin: 0 auto;
}

.guide-list {
  display: grid;
  width: 100%;
  /* flex-wrap: wrap; */
  grid-template-columns: 49% 50%;
  align-items: center;
  justify-items: center;
  list-style: none;
  gap: 10px;
  padding-left: 0px;
  border-radius: 2px;
}

.guide-item {
  width: 100%;
  height: 100%;
  background-color: azure;
  padding: 10px;
  border: 1px solid #5274a3ad;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.guide-action > *{
  margin-right: 8px;
}
