.modal-form{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding: 24px;
  padding-top: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* width: 70%; */
  border: solid 1px #d1cfcf;
  border-radius: 20px;
}

.form__input{
  line-height: 1.5rem;
  border-radius: 4px;
  border: solid 1px #dad7d7;
  padding: 4px 6px;
  display: block;
  width: 100%;
}

.form__error{
  color: red;
  font-weight: 600;
  font-size: 12px;
  margin-top: 4px;
}

.form__group{
  display: flex;
}
.modal-form > div{
  margin: 15px 5px 15px 0px;
}
.form__group > div{
  width: 100%;
  margin-right: 10px;
}

.form__category{
  padding: 8px;
  width: 45%;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 10px;
}

.new-category{
  display: flex;
  width: 100%;
}

.new-category__input{
  width: 100%;
  margin-right: 10px;
}

.form__select-image{
  padding: 10px;
  background-color: rgb(133, 214, 133);
  color: #000;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 3% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  position: relative;
  top: -16px;
  right: -10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}