.form__select{
  padding: 8px;
  width: 45%;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 10px;
}

.new-category{
  display: flex;
  width: 100%;
}

.new-category__input{
  width: 100%;
  margin-right: 10px;
}

.assigned-guides{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
